doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Parking
  // bootstrap CSS
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
  // flatpickr for selecting date and time
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')
  link(rel='stylesheet' href='/FORMS/index.css')
.topnav
  .left
    a.active(href='#home') PARKVILLE PARKING
  .right
    a(href='#about') LOG OUT
    a(href='/FORMS/home.html') CREAT NEW USER
    a(href='#contact') REPORTS
    a(href='/FORMS/home.html') HOME
.container
  h1 PARKVILLE DAY AND NIGHT PARKING
  .title Batteries
  form(action='#' name='registration')
    .user-details
      .input-box
        span.details Name Of client
        input(type='text' placeholder='Enter Your Full Name')
      .input-box
        span.details Phone Number
        input(type='text' placeholder='070 XXXXXXX')
      .input-box
        span.details Number plate
        input(type='text' placeholder='e.g UAX 666601D')
      .input-box
        span.details Type Of Vehicle
        select#cars(name='Types of cars')
          option(value='Personal cars') personal cars
          option(value='Trucks') trucks
          option(value='Bodas') Boda Boda
          option(value='Taxi') Taxi
      .input-box
        span.details Identity Card Number
        input(type='text' placeholder='NIN NUMBER')
      .input-box
        span.details Mechanic
        input(type='text' placeholder='Mechanic')
      .input-box
        span.details Type of Problem
        select#cars(name='Types of cars')
          option(value='Personal cars') Puncture
          option(value='Trucks') Flat tyre
          option(value='Bodas') Boda Boda
          option(value='Taxi') Taxi
      .input-box
        span.details Amount Paid
        input(type='text' placeholder='Receipt Number')
      .button
        input(type='Submit' value='Print Receipt')
      .button
        input(type='Submit' value='New Entry')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
// This will initate date and time in our form
script(src='https://cdn.jsdelivr.net/npm/flatpickr')
script.
  config ={
  enableTime: true,
  dateFormat: "Y-m-d H:i",
  }
  flatpickr("input=[type=datetime-local", {});
script(src='./index.js')
